APP_ENVIRONMENT=DEV
MAIRA_API_HOSTNAME=personalizer-client
MAIRA_API_PORT=8092
MAIRA_API_URL=/v1/maira/ask
OPENAI_API_KEY=
OPENAI_API_URL=https://api.openai.com/v1/

DB_USER=postgres
DB_PASSWORD=password
DB_HOST=postgresdb
DB_PORT=5432
DB_NAME=mydb